<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR CODE</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/mycss/styleLogin.css' %}">
</head>
<body>
    <div id="container">
    <h1>Scansiona il Codice QR</h1>
    <p>Utilizza l'app Authenticator dal tuo smartphone per scansionare il codice QR qui sotto.</p>
    
    <!-- Visualizza l'immagine del codice QR -->
    <img src="data:image/png;base64,{{ qr_image_base64 }}" alt="QR Code" />
    <p>Dopo aver scansionato correttamente il QR, verifica il codice OTP</p>
    <form action="{% url 'two_factor_auth:verify_otp' %}" method="get" style="padding-top:20px">

        <button type="submit" >verifica OTP</button>
    </form>
</div>
</body>
</html>