<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Website</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/mycss/styleLogin.css' %}">
    </head>
    <body>
    <div id="container">
            <div id="immaginelog">
            {% load static %}
            <img  src="{% static 'admin/img/myimg/cuffie.png' %}" alt="My image"  style="width: 220px; height: auto;">
            </div>
        <div id="cellaform">
            <form method="post" action="{% url 'two_factor_auth:login' %}">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
            </form>
        </div>
    </div>
    </body>

</html>

