<!-- templates/verify_backup.html -->
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifica Codice di Backup</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/mycss/styleLogin.css' %}">
</head>
<body>
<div id="container">
    <h1>Verifica Codice di Backup</h1>
    <div id="cellform">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <!-- Assicurati che il nome dell'input corrisponda a quello che cerchi nella tua vista -->
            <input type="text" name="backup_code" required placeholder="Codice di Backup">
            

            <button type="submit">Verifica</button>
        </form>

        <div class="request-new-otp">
            <p>Il tuo codice OTP è scaduto o hai problemi a riceverlo?</p>
            <a href="{% url 'two_factor_auth:send_otp_and_redirect' %}" class="new-otp-link">Invia un nuovo codice OTP</a>
        </div>
    </div>
</div>
</body>
</html>